
{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title> {%block titulo%} FitRou Home {%endblock titulo%}</title>

  <!-- Bootstrap core CSS -->
  <link href=" {% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


  <!-- Para el multiselect -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />

  
  <link href=" {% static 'css/jquery.dataTables.min.css' %}" rel="stylesheet">

  <!-- Alertify -->
  <link href=" {% static 'css/alertify.min.css' %}" rel="stylesheet">
  <link href=" {% static 'css/alertify.css' %}" rel="stylesheet">
  <link href=" {% static 'css/themes/default.css' %}" rel="stylesheet">
  <link href=" {% static 'css/themes/default.min.css' %}" rel="stylesheet">
  
  


</head>
{%block javascript%}
{%endblock javascript%}

<body>
  {%block body%}

  {%block barra_navegacion%}
  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/home">FitRou</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            {%if perms.rutina.view_actividad and not user.is_staff%}
            <a class="nav-link" href="/rutinas/clases/{{user.id}}">Clases</a>
            {%endif%}
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/rutinas">Rutinas</a>
          </li>
          {% if perms.rutina.change_actividad and perms.rutina.delete_actividad and perms.rutina.change_rutina and perms.rutina.delete_rutina and not user.is_staff%}
          <li class="nav-item">
            <a class="nav-link" href="/rutinas/revisiones/{{user.id}}">Revisiones</a>
          </li>
          {%endif%}
          {%if perms.home.view_alumno and not user.is_staff%}
          <li class="nav-item">
            <a class="nav-link" href="/home/listado_alumnos/{{user.id}}">Mis alumnos</a>
          </li>
          {%endif%}
          {% if perms.rutina.edit_actividad or perms.rutina.delete_actividad or perms.rutina.edit_rutina or perms.rutina.delete_rutina%}
          <li class="nav-item">
              <a class="nav-link" href="/home/administracion">Administrar</a>
          </li>
          {%endif%}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user.username}}</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
              {%if perms.rutina.view_actividad%}
              <a class="dropdown-item" href="/rutinas/ver_perfil/{{user.id}}">Perfil</a>
              {%endif%}
              <a class="dropdown-item" href="{%url 'logout'%}">Salir</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {%endblock barra_navegacion%}

  <!-- <div class="custom-header-image" style="background-image: url(&quot;https://emiliosedanogijon.files.wordpress.com/2018/06/artificial-intelligence-2167835_1920.jpg&quot;); margin-top: 87px;">
    <div class="site-branding">
      <div class="wrap">
        <p class="site-title"><a href="https://emiliosedanogijon.wordpress.com/" rel="home">Emilio Sedano</a></p>
        <p class="site-description">Desarrollo de App Web&amp; Android</p>
      </div>
    </div>
  </div> -->
  <!-- <div class="header">
    <div id="header-container" class="container">
      <div class="headerdiv">
        <a href="" class="headerleft">
          <img src="{% static 'img/header1.jpg'%}" class="img-fluid" alt="header SU">
        </a>
      </div>     
    </div>
  </div>  -->
    
  {%block imagen_principal%}
  <header>
    <div id="carouselExampleIndicators" class="carousel slide mt-1" data-ride="carousel" alt="header SU">
      <ol class="carousel-indicators"></ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('http://placehold.it/1900x1080')" alt="header SU">
          {%block imagen%}
          <img src="{% static 'img/img_home.jpg'%}" class="img-fluid" alt="header SU">
          {%endblock imagen%}
          <div class="carousel-caption d-none d-md-block">
            {%block titulo_imagen%}
            <h2><strong>FitRou</strong></h2>
            <p>Mantente en forma estés donde estés</p>
            {%endblock titulo_imagen%}
          </div>
        </div>
  </header>
  {%endblock imagen_principal%}

  {%block contenido%}
  <!-- Page Content -->
  <div class="container">

    <h1 class="my-4">Bienvenido a FitRou</h1>

    <!-- Marketing Icons Section -->
    <div class="row">
      <div class="col-lg-12 mb-12">
        <div class="card h-100">
          <h4 class="card-header">Rutinas</h4>
          <div class="card-body">
            <p class="card-text">En FitRou ofrecemos rutinas personalizadas para aquellas personas que desean entrenar de una forma diferente. Te brindamos rutinas en las que tú deseas cómo y dónde entrenar, seleccionando la rutina que mejor se adapte a tus intereses.</p>
            <p class="card-text">Si deseas comenzar ¡Inscríbete ahora mismo!</p>
          </div>
          <div class="card-footer">
            <a href="/rutinas" class="btn btn-primary">Inscribirse</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
    {%endblock contenido%}
    <hr>

  </div>
  
  {%block pie%}
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    
    <div class="container">
      <p class="m-0 text-center text-white">Nicolás Sawczuk - Proyecto Software 2019</p>
    </div>
    
  </footer>
  {%endblock pie%}

  <!-- Bootstrap core JavaScript -->
  <script src=" {% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src=" {% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src=" {% static 'js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'js/alertify.min.js' %}"></script>
  <script src="{% static 'js/alertify.js' %}"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
  $(document).ready( function () {
    $('#mydatatable').DataTable({
      "paging": true,
      "language": {
        "sProcessing":     "Procesando...",
                    "sLengthMenu":     "Ver _MENU_",
                    "sZeroRecords":    "No se encontraron resultados",
                    "sEmptyTable":     "No hay resultados",
                    "sInfo":           "Viendo _START_-_END_ de _TOTAL_.",
                    "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix":    "",
                    "sSearch":         "Buscar:",
                    "sUrl":            "",
                    "sInfoThousands":  ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst":    "Primero",
                        "sLast":     "Último",
                        "sNext":     "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    },
                    "buttons": {
                        "copy": "Copiar",
                        "colvis": "Visibilidad"
                    }
    },
      
    });
  });
</script>
  
  {%endblock body%}
</body>

</html>
