{%extends 'home/home.html'%}
{%load staticfiles%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {%block titulo%}{{alumno.nombre}}{%endblock titulo%}

    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href=" {% static 'css/styles.css' %}" rel="stylesheet">
</head>
{%block imagen_principal%}
{%endblock imagen_principal%}
{%block contenido%}
        <script>
                function verActividades(id){
                    $.ajax({
                        data : {'id' : id},
                        url : '/rutinas/obtener_actividades_ajax/', //El id que estoy guardando en data se va a enviar en esa url
                        type : 'get',
                        success : function(data){
                            var html = ""
                            for (var i=0; i< data.length; i++){
                                html += '<div class="list-group-item">'+'<div class="row">'+
                                        '<div class="col-8">'
                                            +data[i].fields.nombreActividad+
                                        '</div>'+
                                        '<div class="col-3">'
                                            +data[i].fields.esfuerzoActividad+'/10'+
                                        '</div>'+
                                    '</div>'+
                                    '</div>'
                                
                            }
                            $('#contenido').html(html);
                            console.log(html);
                        }

                    });
                
                }
        </script>
        <script>
                var labelsMusculos = [];
                var dataMusculos = [];
        </script>
        <script>
                function verMusculos(id){
                    $.ajax({
                        data : {'id' : id},
                        url : '/rutinas/obtener_cantidad_musculos_ajax/', //El id que estoy guardando en data se va a enviar en esa url
                        type : 'get',
                        success : function(musculos){
                            Object.keys(musculos).forEach(function(key) {
                                console.log(key, musculos[key])
                                labelsMusculos.push(key);
                                dataMusculos.push(musculos[key]);
                              })
                            
                        }

                    });              
                }
        </script>

        <div class="container">
                <div class="row profile mt-1 ">
                    <div class="col-md-3">
                        <div class="profile-sidebar">
                            <!-- SIDEBAR USERPIC -->
                            <div class="profile-userpic">
                                {%if ficha.sexo == 'M'%}
                                <img src="{% static 'img/hombre.png'%}" class="img-responsive" alt="">
                                {%else%}
                                <img src="{% static 'img/mujer.png'%}" class="img-responsive" alt="">
                                {%endif%}
                            </div>
                            <!-- END SIDEBAR USERPIC -->
                            <!-- SIDEBAR USER TITLE -->
                            <div class="profile-usertitle">
                                <div class="profile-usertitle-name">
                                    
                                        <h4><a href="javascript:history.back()"><img src="{% static 'img/back_negro.png'%}"></a><strong> 
                                        {{alumno.nombre}}
                                    </strong></h4>
                                </div>
                            </div>
                            <!-- END SIDEBAR USER TITLE -->
                            <!-- SIDEBAR BUTTONS -->
                            <div class="profile-userbuttons">
                                <button type="button" class="btn btn-success btn-sm">Mensaje</button>
                                {%if user.id == alumno.user_id%}
                                <button type="button" class="btn btn-light btn-sm">Editar perfil</button>
                                {%endif%}
                            </div>
                            <!-- END SIDEBAR BUTTONS -->
                        </div>
                    </div>
                    <div class="col-sm-9 md-9 mt-9 lg-9">
                        <div class="profile-content">
                           <div class="float-right">
                               {%if alumno.nivel_id.nivel == 'Principiante'%}
                               <span class="badge badge-pill badge-light">
                                   <img src="{% static 'img/principiante.png'%}" alt="">{{alumno.nivel_id}}
                               </sapn>
                                {%endif%}
                               {%if alumno.nivel_id.nivel == 'Intermedio'%}
                               <span class="badge badge-pill badge-light">
                                    <img src="{% static 'img/intermedio.png'%}" alt="">{{alumno.nivel_id}}
                                </span>
                               {%endif%}
                               {%if alumno.nivel_id.nivel == 'Avanzado'%}
                               <span class="badge badge-pill badge-light">
                                    <img src="{% static 'img/avanzado.png'%}" alt="">{{alumno.nivel_id}}
                                </span>
                               {%endif%}
                            </div>
                               
                    </div>
                </div>
                </div>
                <div id="accordion">
                        <div class="card mt-2">
                          <div class="card-header alert alert-primary" id="headingOne">
                            <h5 class="mb-0">
                              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <strong>Datos personales</strong>
                              </button>
                            </h5>
                          </div>
                      
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <div class="form-group">
                                    <div class="row form-group">
                                        <div class="col col-md-3"><strong>Nombre y apellido</strong></div>
                                        <div class="col-12 col-md-9">
                                            <label style="color:rgb(130, 128, 128)">{{alumno.nombre}}, {{alumno.apellido}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <div class="row form-group">
                                        <div class="col col-md-3"><strong>Fecha de nacimiento</strong></div>
                                        <div class="col-12 col-md-9">
                                            <label style="color:rgb(130, 128, 128)">{{alumno.fecha_nac}} ({{edad}} años)</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                    <div class="form-group">
                                        <div class="row form-group">
                                            <div class="col col-md-3"><strong>Profesión</strong></div>
                                            <div class="col-12 col-md-9">
                                                <label style="color:rgb(130, 128, 128)">{{ficha.profesion}}</label>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="card">
                          <div class="card-header alert alert-primary" id="headingTwo">
                            <h5 class="mb-0">
                              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <strong>Datos de entrenamiento</strong>
                              </button>
                            </h5>
                          </div>
                          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                    <div class="card-body">
                                            <div class="form-group">
                                                <div class="row form-group">
                                                    <div class="col col-md-3"><strong>Entrenamiento</strong></div>
                                                    <div class="col-12 col-md-9">
                                                            {%if alumno.entrenamiento_sistema == True%}
                                                            <label style="color:rgb(130, 128, 128)">Por sistema</label>
                                                            {%else%}
                                                            <label style="color:rgb(130, 128, 128)">Con profesor</label>
                                                            {%endif%}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <div class="card-body">
                                            <div class="form-group">
                                                <div class="row form-group">
                                                    <div class="col col-md-3"><strong>Altura</strong></div>
                                                    <div class="col-12 col-md-9">
                                                        <label style="color:rgb(130, 128, 128)">{{ficha.altura}} m</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="form-group">
                                                <div class="row form-group">
                                                    <div class="col col-md-3"><strong>Peso</strong></div>
                                                    <div class="col-12 col-md-9">
                                                        <label style="color:rgb(130, 128, 128)">{{ficha.peso}} kg</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                                <div class="form-group">
                                                    <div class="row form-group">
                                                        <div class="col col-md-3"><strong>Sexo</strong></div>
                                                        <div class="col-12 col-md-9">
                                                            {%if ficha.sexo == 'M'%}
                                                            <label style="color:rgb(130, 128, 128)">Masculino</label>
                                                            {%else%}
                                                            <label style="color:rgb(130, 128, 128)">Femenino</label>
                                                            {%endif%}
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="card-body">
                                                <div class="form-group">
                                                    <div class="row form-group">
                                                        <div class="col col-md-3"><strong>Grupo sanguíneo</strong></div>
                                                        <div class="col-12 col-md-9">
                                                            <label style="color:rgb(130, 128, 128)">{{ficha.grupo_sanguineo}}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header alert alert-primary" id="headingThree">
                            <h5 class="mb-0">
                              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <strong>Actividades</strong>
                              </button>
                            </h5>
                          </div>
                          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                    <div class="card-body">
                                            <div class="form-group">
                                                <div class="row form-group">
                                                    <div class="col col-md-3"><strong>Rutina</strong></div>
                                                    <div class="col-12 col-md-9">
                                                        <label style="color:rgb(130, 128, 128)">{{alumno.rutina_id}} </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                                <div class="form-group">
                                                    <div class="row form-group">
                                                        <div class="col col-md-3"><strong>Profesor</strong></div>
                                                        <div class="col-12 col-md-9">
                                                            <label style="color:rgb(130, 128, 128)">{{alumno.profesor_id}} </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    {%if alumno.nivel_id != None%}
                                    <div class="card-body">
                                            <div class="form-group">
                                                <div class="row form-group">
                                                    <div class="col col-md-3"><strong>Nivel</strong></div>
                                                    <div class="col-12 col-md-9">
                                                        
                                                        <label style="color:rgb(130, 128, 128)">{{alumno.nivel_id}} </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {%endif%}

                                    {%if alumno.entrenamiento_sistema != True%}
                                    <div class="card-body">
                                            <div class="form-group">
                                                <div class="row form-group">
                                                    <div class="col col-md-3"><strong>Horarios</strong></div>
                                                    <div class="col col-auto">
                                                        
                                                        <label style="color:rgb(130, 128, 128)">
                                                            <ul class="list-group">
                                                                {%for disp in disponibilidad%}
                                                                <li class="list-group-item">{{disp}}</li>
                                                                {%endfor%}
                                                            </ul></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {%endif%}
                                    {% if alumno.entrenamiento_sistema == True%}
                                    <div class="card-body">
                                            <div class="form-group">
                                                <div class="row form-group">
                                                    <div class="col col-md-3"><strong>Dias de entrenamiento</strong></div>
                                                    <div class="col col-auto">
                                                        
                                                        <label style="color:rgb(130, 128, 128)">
                                                            <ul class="list-group">
                                                                {%for dia in disponibilidad%}
                                                                <li class="list-group-item">{{dia}}</li>
                                                                {%endfor%}
                                                            </ul></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {%endif%}
                            </div>
                          </div>
                        </div>
                        
                          <div class="card">
                            <div class="card-header alert alert-primary" id="headingFive">
                              <h5 class="mb-0">
                                <button class="btn btn-link collapsed" onclick="verMusculos({{alumno.id}})"data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                  <strong>Evolución</strong>
                                </button>
                              </h5>
                            </div>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                    <nav>
                                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                              <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Esfuerzo</a>
                                              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Músculos</a>
                                            </div>
                                          </nav>
                                          <div class="tab-content" id="nav-tabContent">
                                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                                    
                                                <div class="card-body">
                                                    <div class="form-group">
                                                        <div class="row form-group">
                                                            {%if sesiones == None%}
                                                            <label style="color:rgb(130, 128, 128)">No se puede mostrar la evolución porque no hrealizado sesiones.</label>
                                                                        {%else%}
                                                            <canvas id="lineChart" height="800" width="800"></canvas>
                                                            {%endif%}
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                                    <div class="card-body">
                                                            <div class="form-group">
                                                                <div class="row form-group">
                                                                    {%if sesiones == None%}
                                                                    <label style="color:rgb(130, 128, 128)">No se puede mostrar la evolución porque no hrealizado sesiones.</label>
                                                                                {%else%}
                                                                    <canvas id="radarChart" height="10" width="10"></canvas>
                                                                    {%endif%}
                                                                </div>
                                                            </div>
                                                        </div>
                                            </div>
                                          </div>
                                
                            </div>
                          </div>
             
                          {%if alumno.entrenamiento_sistema == True%}
                        <div class="card">
                            <div class="card-header alert alert-primary" id="headingThree">
                              <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                      <strong>Sesiones</strong>
                                </button>
                              </h5>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">                      <div class="mt-2">
                                {%if sesiones == None%}
                                <div class="card-body">
                                    <div class="form-group">
                                        <div class="row form-group">
                                                <label style="color:rgb(130, 128, 128)">No ha realizado ninguna sesion aún</label>
                                        </div>
                                    </div>
                                </div>
                                {%else%}
                                <table class="table dataTable" id="mydatatable">
                                  <thead class="card-header">
                                    <tr>
                                      <th width="10">#</th>
                
                                      <th width="150">Fecha</th>
                
                                      <th width="120">Esfuerzo</th>
                                      <th width="500">Comentario</th>
                                      <th width="0" align="center">Porcentaje</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                  {%for sesion in sesiones%}
                                  <div>
                                </div>
                                    <tr>
                                        <td width="10">{{sesion.sesionesRealizadas}}</td>
                
                                        <td width="150">
                                                <a href="#" onclick="verActividades({{sesion.id}})" data-toggle="modal" data-target=".bs-example-modal-lg2">{{sesion.fechaSesion}} </a>    
                                        </td>
                
                                        <td width="120" >{{sesion.esfuerzoSesion}}/10</td>
                                        <td width="500">{{sesion.descripcion}}</td>
                                        <td width="0" align="center"><h6><span class="badge badge-success">{{sesion.cantSesiones}}%</span></h6></td>
                                    </tr>
                                    <!-- Modal para ver sesiones -->
                                    <div class="modal fade bs-example-modal-lg2" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                              <div class="modal-content">
                                                  <div class="modal-header">
                                                      <h4 class="modal-title" id="myModalLabel">Detalles de la sesion</h4>
                                                      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>                                                      
                                                  </div>
                                                  <div class="modal-body">
                                                        <div class="card-header">
                                                              <div class="row">
                                                                  <div class="col-8">
                                                                      <b>Actividad</b>
                                                                  </div>
                                                                  <div class="col-3">
                                                                      <b>Esfuerzo</b>
                                                                  </div>
                                                              </div>
                                                        </div>
                                                        <div id="contenido"></div>
                                                           
                                                    </div>
                                                  <div class="modal-footer">
                                                      <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cerrar</button>
                                                    </div>
                                              </div>
                                          </div>
                                      </div>
                                  {%endfor%}
                                </div>
                                  </tbody>
                                </table>
                                {%endif%}
                            </div>        
                            </div>
                          </div>
                          {%endif%}

                      </div>
            </div>


            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js" integrity="sha256-arMsf+3JJK2LoTGqxfnuJPFTU4hAK57MtIPdFpiHXOU=" crossorigin="anonymous"></script>
            <script>
            var sesiones = [];
            var esfuerzos = [];
            </script>
            {%for sesion  in sesiones%}
            <script>
                sesiones.push('{{sesion.fechaSesion}}')
                esfuerzos.push(parseInt('{{sesion.esfuerzoSesion}}'))
            </script>
            {%endfor%}

            <script>
                var ctx = document.getElementById('lineChart').getContext("2d");
                ctx.canvas.width = 10;
                ctx.canvas.height = 10;            
                var chart = new Chart(ctx, {
                    type: 'line',
                    data: {
                      labels:[],
                      
                      datasets: [{ 
                          data: [],
                          label: "Esfuerzo",
                          borderColor: "#3e95cd",
                          fill: false
                        }
                      ]
                      
                    },
                    options: {
                      responsive: true,
                      title: {
                        display: true,
                        text: 'Gráfico de esfuerzo del alumno',
                        fontSize : 17,
                      },
                      
                      scales: {
                        yAxes: [{
                            ticks: {
                                stepSize: 1,
                                min: 0,
                                max: 10
                            },
                          scaleLabel: {
                            display: true,
                            labelString: 'Esfuerzo promedio',
                            fontSize : 16
                          }
                        }],
                        xAxes: [{
                            ticks: {
                                beginAtZero: false,
                                stepSize: 1,
                                min: 0,
                                max: 10
                            },
                          scaleLabel: {
                            display: true,
                            labelString: 'Sesiones',
                            fontSize : 16
                          }
                        }],
                      }
                    }
                  });

                  chart.data.labels = sesiones;
                  
                  chart.data.datasets.forEach((dataset) => {
                    dataset.data = esfuerzos;
                });
            </script>
            <script>
                var radar_chart = new Chart(document.getElementById('radarChart').getContext("2d"), {
                    type: 'radar',
                    data: {
                      labels: [],
                      datasets: [
                        {
                          label: "Musculos",
                          fill: true,
                          backgroundColor: "rgba(255,99,132,0.2)",
                          borderColor: "rgba(255,99,132,1)",
                          pointBorderColor: "#fff",
                          pointBackgroundColor: "rgba(255,99,132,1)",
                          pointBorderColor: "#fff",
                          data: []
                        }
                      ]
                    },
                    options: {
                        responsive: true,
                        title: {
                          display: true,
                          text: 'Músculos',
                          fontSize : 17,
                        },
                    }
                });
                radar_chart.data.labels = labelsMusculos;
                  
                radar_chart.data.datasets.forEach((dataset) => {
                    dataset.data = dataMusculos;
                });
                /*function addData(label, data) {
                    alert(label)
                    radar_chart.data.labels.push(label);
                    radar_chart.data.datasets.forEach((dataset) => {
                        dataset.data.push(data);
                    });
                    radar_chart.update();
                }*/
            </script>
                  
{%endblock contenido%}
{%block pie%}
{%endblock pie%}