{% extends 'home/home.html'%}
{% load staticfiles%}

{%block titulo%}Actividades{%endblock titulo%}

            {%block imagen%}
            <img src="{%static 'img/img_rutinas.jpg'%}" alt="">
            {%endblock imagen%}
            {%block titulo_imagen%}
                <h2><strong>Actividades</strong></h2>
                <p>Hay cada una especial para ti</p>
            {%endblock titulo_imagen%}

    {%block contenido%}
    <section class="container mt-2">
        <div class="list-group" >
            <div class="list-group-item active">
                <div class="row">
                    <div class="col-md-11 col-sm-11">Lista de Actividades</div>
                    {% if perms.actividad.add_actividad%}
                    <div class="col-0"><a class="btn btn-light" href="agregar_actividad" src="">
                        <img src="{% static 'img/img_agregar_rutina.png'%}" alt=""></a>
                    </div>
                    {%endif%}
                </div>
            </div>
                {% if perms.actividad.view_actividad%}
                {% for actividad in actividades %}
                <div class="list-group-item ">
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            <a href="ver_rutina/{{rutina.id}}">{{actividad.nombre}}</a>
                        </div>
                        <div class="col-md-7 col-sm-7">
                            {{actividad.descripcion}}
                        </div>
                        {% if perms.actividad.edit_actividad and perms.rutina.delete_actividad%}
                        <div class="col-0">
                            <a class="btn btn-outline-secondary" href="/rutinas/editar_actividad/{{actividad.id}}">Editar</a>
                        </div>
                        <div class="col-1">
                                <a class="btn btn-outline-danger" href="/rutinas/eliminar_actividad/{{actividad.id}}">Borrar</a>
                        </div>
                        {%endif%}
                    </div>
                </div>      
                {%endfor%}
                {%endif%}
        </div>
    </section>
{%endblock contenido%}
<hr>
