{% extends 'home/home.html'%}
{% load staticfiles%}

{%block titulo%}Rutinas{%endblock titulo%}

            {%block imagen_principal%}
            {%endblock imagen_principal%}


    {%block contenido%}
    <section class="container mt-2">
        <div class="list-group" >
        
            <div class="list-group-item active">
                <div class="row">
                    <div class="col col-sm-11 col-md-11 col-lg-11">
                        <a href="/home/administracion/"><h5><img src="{% static 'img/back_blanco.png'%}"></a>Lista de Rutinas</h5></div>
                    {% if perms.rutina.add_rutina and not user.is_staff%}
                    <div class="col col-sm-1 col-md-1 col-lg-1">
                        <a class="btn btn-light" href="/rutinas/agregar_rutina/{{user.id}}" src="">
                        <img src="{% static 'img/img_agregar_rutina.png'%}" alt=""></a>
                    </div>
                    {%endif%}
                </div>
            </div>
        </div>
        <div class="card-header">
            <div class="row">
                <div class="col-3">
                    <b>Nombre</b>
                </div>
                <div class="col-7">
                    <b>Descripcion</b>
                </div>
                {% if perms.rutina.change_rutina and perms.rutina.delete_rutina%}
                <div class="col-0">
                    <b>Acciones</b>
                </div>
        
                {%endif%}
            </div>
        </div>   
        {% if perms.rutina.view_rutina%}
        {% for rutina in rutinas %}
        <div class="list-group-item">
            <div class="row">
                <div class="col-3">
                    <a href="/rutinas/ver_rutina/{{rutina.id}}">{{rutina.nombre}}</a>
                </div>
                <div class="col-7">
                    {{rutina.descripcion}}
                </div>
                {% if perms.rutina.change_rutina and perms.rutina.delete_rutina%}
                <div class="col-0">
                    <a  href="/rutinas/editar_rutina/{{rutina.id}}"><img src="{%static 'img/edit.png'%}"></a>
    
                    
                    {%if rutina.estado%}
                    <a href="/rutinas/eliminar_rutina/{{rutina.id}}"><img src="{%static 'img/activo.png'%}" alt=""></a>
                    {%else%}
                    <a href="/rutinas/eliminar_rutina/{{rutina.id}}"><img src="{%static 'img/inactivo.png'%}" alt=""></a>
                    {%endif%}
                    
                </div>
                {%endif%}
            </div>
        </div>      
        {%endfor%}
        {%endif%}
        
    </section>
    
    {%endblock contenido%}

{%block pie%}
{%endblock pie%}