{% extends 'home/home.html'%}
{% load staticfiles%}

{%block titulo%}Detalles{%endblock titulo%}

{%block imagen_principal%}
{%endblock imagen_principal%}

    {%block contenido%}
    <section class="container mt-2">
        <div class="list-group" >
            <div class="list-group-item active">
                <div class="row">
                    <div class="col-md-11 col-sm-11"><a href="/home/administracion/"><img src="{% static 'img/back.png'%}"></a>Lista de Detalles</div>
                    {% if perms.rutina.add_rutina%}
                    <div class="col-0"><a class="btn btn-light" href="/rutinas/agregar_detalle" src="">
                        <img src="{% static 'img/img_agregar_rutina.png'%}" alt=""></a>
                    </div>
                    {%endif%}
                </div>
            </div>
                {% if perms.rutina.view_detalle%}
                {% for detalle in detalles %}
                <div class="list-group-item ">
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                           {{detalle.categoria}}
                        </div>
                        <div class="col-md-7 col-sm-7">
                            {{detalle.musculo}}
                        </div>
                        {% if perms.rutina.change_detalle and perms.rutina.delete_detalle%}
                        <div class="col-0">
                            <a class="btn btn-outline-secondary" href="/rutinas/editar_detalle/{{detalle.id}}">Editar</a>
                        </div>
                        <div class="col-1">
                                <a class="btn btn-outline-danger" href="/rutinas/eliminar_detalle/{{detalle.id}}">Borrar</a>
                        </div>
                        {%endif%}
                    </div>
                </div>      
                {%endfor%}
                {%endif%}
        </div>
    </section>
    {%endblock contenido%}
    {%block pie%}
    {%endblock pie%}