{%extends 'home/home.html'%}
{%load staticfiles%}

{%block titulo%}Agregar actividad{%endblock titulo%}
{%block imagen_principal%}
{%endblock imagen_principal%}

{%block contenido%}
<body class="container mt-2">
        <div class="card">
            <div class="card-header"><strong>Administracion de Actividad</strong></div>
                <div class="card-body card-block">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="">
                            <div class="form-group">
                                <div class="row form-group">
                                    <div class="col col-md-3">{{form.nombre.label}}</div>
                                    <div class="col-12 col-md-9">{{form.nombre}}</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row form-group">
                                    <div class="col col-md-3">{{form.descripcion.label}}</div>
                                    <div class="col-12 col-md-9">{{form.descripcion}}</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row form-group">
                                    <div class="col col-md-3">{{form.nivel_exigencia.label}}</div>
                                    <div class="col-12 col-md-9">
                                        <div class ="card">
                                            <div class ="card-body">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="nivel_exigencia"  value="1" checked>
                                                    <label class="form-check-label" for="exampleRadios1">1</label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="nivel_exigencia"  value="2" checked>
                                                    <label class="form-check-label" for="exampleRadios1">2</label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="nivel_exigencia"  value="3" checked>
                                                    <label class="form-check-label" for="exampleRadios1">3</label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="nivel_exigencia"  value="4" checked>
                                                    <label class="form-check-label" for="exampleRadios1">4</label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="nivel_exigencia"  value="5" checked>
                                                    <label class="form-check-label" for="exampleRadios1">5</label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="nivel_exigencia"  value="6" checked>
                                                    <label class="form-check-label" for="exampleRadios1">6</label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="nivel_exigencia"  value="7" checked>
                                                    <label class="form-check-label" for="exampleRadios1">7</label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="nivel_exigencia"  value="8" checked>
                                                    <label class="form-check-label" for="exampleRadios1">8</label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="nivel_exigencia"  value="9" checked>
                                                    <label class="form-check-label" for="exampleRadios1">9</label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="nivel_exigencia"  value="10" checked>
                                                    <label class="form-check-label" for="exampleRadios1">10</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row form-group">
                                    <div class="col col-md-3">{{form.detalle_id.label}}</div>
                                    
                                    <div class="col-12 col-md-9">{{form.detalle_id}}</div>
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col col-1"><a href="/rutinas/actividades/"><button type="button" class="btn btn-outline-danger">Cancelar</button></a></div>
                                    <div class="col col-0"><button type="submit" class="btn btn-primary">Agregar</button></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--SCRIPTS-->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
{%endblock contenido%}
{%block pie%}
{%endblock pie%}