{%extends 'home/home.html'%}
{%load staticfiles%}

{%block titulo%}Administrar detalle{%endblock titulo%}
{%block imagen_principal%}
{%endblock imagen_principal%}

{%block contenido%}
<body class="container mt-2">
    <div class="card">
        <div class="card-header alert-primary"><strong>Administracion de Detalles</strong></div>
            <div class="card-body card-block">  
                {%if form.errors != None%}
                <div class="alert alert-danger" role="alert">
                    <h4 class="alert-heading">Error</h4>
                        {{form.errors}}
                </div>
                {%endif%}
                <form method="POST">
                    {% csrf_token %}
                    <div class="">
                        <div class="form-group">
                            <label for="">{{form.categoria.label}}</label>
                            {{form.categoria}}
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">{{form.musculo.label}}</label>
                            {{form.musculo}}
                        </div>
                        <div class="float-right"><a href="/rutinas/administrar_detalles/">
                            <button type="button" class="btn btn-outline-danger">Cancelar</button></a>
                            <button type="submit" class="btn btn-primary">Agregar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div> 
    </div>
</body>
{%endblock contenido%}
{%block pie%}
{%endblock pie%}