{%extends 'home/home.html'%}
{%load staticfiles%}
    {%block titulo%}Administrar Horario{%endblock titulo%}


{%block imagen_principal%}
{%endblock imagen_principal%}

{%block contenido%}
<body class="container mt-2">
    
    <div class="card">
        <div class="card-header alert-primary"><strong>Administracion de Disponibilidad</strong></div>
            <div class="card-body card-block">  
                    {%if error != None%}
                    <div class="alert alert-danger" role="alert">
                        <h4 class="alert-heading">Error</h4>
                            {{error}}
                    </div>
                    {%endif%}
                    {%if mensaje != None%}
                    <div class="alert alert-danger" role="alert">
                        <h4 class="alert-heading">Error</h4>
                            {{mensaje}}
                            <hr>
                            <a href="/home/editar_disponibilidad/{{disp}}">Volver</a>
                    </div>
                    {%endif%}
                    {%if mensaje == None%}
                <form method="POST">
                    {% csrf_token %}
                    
                    <div class="">
                        <div class="row form-group">
                            <div class="col col-md-3">Horario</div>
                            <div class="col-3 col-md-3">
                                <label style="color:rgb(130, 128, 128)">Desde</label>
                                {{form.horario_inicio}}
                            </div>
                            <div class="col-3 col-md-3">
                                <label style="color:rgb(130, 128, 128)">Hasta</label> 
                                {{form.horario_final}}
                                <br>
                        </div>
                        </div>
                        <div class="form-group">
                                <div class="row form-group">
                                    <div class="col col-md-3">Dia</div>
                                    <div class="col-12 col-md-9" name="dias">
                                        <select name="dias" class="selectpicker" multiple data-live-search="true">
                                            <option>
                                                {%for dia in dias%}
                                                <option value="{{dia}}">{{dia}}</option>
                                                {%endfor%}
                                                {%if diaSelec != None%}
                                                    <option value="{{diaSelec}}" selected>{{diaSelec}}</option>
                                                {%endif%}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                        </div>
                        <div class="float-right"><a href="/home/administrar_disponibilidad/{{user.id}}">
                            <button type="button" class="btn btn-outline-danger">Cancelar</button></a>
                            <button type="submit" class="btn btn-primary">Agregar</button>
                        </div>
                    </div>
    {%endif%}
                </form>
            </div>
        </div> 
    </div>
    <!--SCRIPTS-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

{%endblock contenido%}
{%block pie%}
{%endblock pie%}
