{%extends 'home/home.html'%}
{%load staticfiles%}

{%block titulo%}Auditoría{%endblock titulo%}
{%block imagen_principal%}
{%endblock imagen_principal%}

{%block contenido%}

<div class="container mt-2">

        <!-- Auditoria en general -->
        <div class="list-group" >
                <div class="list-group-item active">
                    <div class="row">
                        <div class="col col-sm-11 col-md-11 col-lg-11">
                            <a href="javascript:history.back()"><h5><img src="{% static 'img/back_blanco.png'%}"></a>General</h5></div>
                    </div>
                </div>
            </div> 
            <br>
          <table class="table table-striped" id="mydatatable2">
            <thead class="card-header">
              <tr>
                <th width="150">Operación</th>
                <th width="200">Modelo</th>
                <th width="200">Usuario</th>
                <th width="auto">Fecha</th>
              </tr>
            </thead>
            <tbody>
            {%for objeto in objetos%}
            <tr>
                {%if objeto.accion != 5 and objeto.accion != 4%}
                <td width="150">{{objeto.accion}}</td>                
                <td width="200">{{objeto.modelo}}</td>
                <td width="200">{{objeto.idUsuario}}</td>
                <td width="auto">{{objeto.fecha}}</td>
                {%endif%}
            </tr>
            {%endfor%}
            </tbody>
          </table>
        <br>

        <!-- Tabla de Logs -->
        <div class="list-group" >
                <div class="list-group-item active">
                    <div class="row">
                        <div class="col col-sm-11 col-md-11 col-lg-11">
                            <a href="javascript:history.back()"><h5><img src="{% static 'img/back_blanco.png'%}"></a>Logs</h5></div>
                    </div>
                </div>
            </div> 
            <br>
          <table class="table table-striped" id="mydatatable">
            <thead class="card-header">
              <tr>
                    <th width="150">Operación</th>
                    <th width="200">Usuario</th>
                    <th width="200">Fecha</th>
                    <th width="auto">IP</th>
              </tr>
            </thead>
            <tbody>
            {%for log in logs%}
              <tr>
                    {%if log.accion == 0%}
                    <td width="150">Logout</td>
                    {%else%}
                    <td width="150">Login</td>
                    {%endif%}
                    <td width="200">{{log.usuario}}</td>
                    <td width="200">{{log.fecha}}</td>
                    <td width="auto">{{log.ip}}</td>
                  </tr>
            {%endfor%}
            </tbody>
          </table>
        </div>
        
    </div>
{%endblock contenido%}

<script src=" {% static 'js/jquery.dataTables.min.js' %}"></script>
    <script>
      $(document).ready( function () {
        $('#mydatatable2').DataTable({
          "paging": true,
          "language": {
            "sProcessing":     "Procesando...",
                        "sLengthMenu":     "Ver _MENU_",
                        "sZeroRecords":    "No se encontraron resultados",
                        "sEmptyTable":     "No hay resultados",
                        "sInfo":           "Viendo _START_-_END_ de _TOTAL_.",
                        "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                        "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                        "sInfoPostFix":    "",
                        "sSearch":         "Buscar:",
                        "sUrl":            "",
                        "sInfoThousands":  ",",
                        "sLoadingRecords": "Cargando...",
                        "oPaginate": {
                            "sFirst":    "Primero",
                            "sLast":     "Último",
                            "sNext":     "Siguiente",
                            "sPrevious": "Anterior"
                        },
                        "oAria": {
                            "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                        },
                        "buttons": {
                            "copy": "Copiar",
                            "colvis": "Visibilidad"
                        }
        },
          
        });
      });
    </script>

{%block pie%}
{%endblock pie%}
