{%extends 'home/home.html'%}
{%load staticfiles%}

{%block titulo%} Clase {%endblock titulo%}
{%block imagen_principal%}
{%endblock imagen_principal%}

{%block contenido%}
<body class="container mt-2">
        {%if user.id == alumno.user_id%}
        {%if mensaje != None%}
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">¡Te mereces un descanso!</h4>
            <p>{{mensaje}}</p>
            <hr>
            <p class="mb-0"><strong><a href="/home/">Volver</a></strong></p>
        </div>
        {%else%}
        <div class="card active">
            <div class="card-header alert alert-success"><a href="/home/"><h6><img src="{% static 'img/back_negro.png'%}"></a><strong>Actividades del día</strong></h6>
            </div>
            <div class="card-body card-block">
                <div class="">
                    <div class="form-group">
                        <div class="row form-group">
                            <div class="col col-md-5"><h5>¡Hoy es dia de entrenamiento!</h5></div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-10">
                                <label style="color:rgb(130, 128, 128)">
                                    {{clase}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {%endif%}
        {%endif%}





        {%if alumnos != 'vacio'%}
        {%if user.id == profesor.user_id%}
        <!-- Listado de todas las clases -->
        <div id="accordion">
            <div class="card mt-2">
                <div class="card-header alert alert-primary" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <a href="/home"><img src="{% static 'img/back_azul.png'%}"></a>
                    <strong>Clases del dia</strong>
                    </button>
                </h5>
                </div>
              
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-4">
                                <b>Alumno</b>
                            </div>
                            <div class="col-4">
                                <b>Horario</b>
                            </div>
                        </div>
                    </div>   
                    {% for alumno in alumnos %}
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-4">
                                {{alumno.alumno_id}}
                            </div>
                            <div class="col-4">
                                De <b>{{alumno.horario_inicio}}</b> a <b>{{alumno.horario_final}}</b>hs
                            </div>
                        </div>
                    </div> 
                    {%endfor%}
                </div>
            </div>
        </div>


        <br>
        
        <!-- Listado de clases pendientes -->
        <div class="card">
            <div class="card-header alert alert-primary" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <strong>Clases pendientes</strong>
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            {%if mensaje == None%}
                <div class="card-header">
                    <div class="row">
                        <div class="col-4">
                            <b>Alumno</b>
                        </div>
                        <div class="col-4">
                            <b>Horario</b>
                        </div>
                    </div>
                </div>   
                {% for alumno in alumnosPendientes %}
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-4">
                            {{alumno.alumno_id}}
                        </div>
                        <div class="col-4">
                            De <b>{{alumno.horario_inicio}}</b> a <b>{{alumno.horario_final}}</b>hs
                        </div>
                    </div>
                </div> 
                {%endfor%}
            </div>
        </div>
        {%else%}
            <label style="color:rgb(130, 128, 128)">
                <p>{{mensaje}}</p>
            </label>
        {%endif%}
        {%endif%}
        {%else%}
            <div class="alert alert-info" role="alert">
                <h4 class="alert-heading">No hay nadie a quien atender</h4>
                <p>En el dia de hoy no debes entrenar a nadie.</p>
                <hr>
                <p class="mb-0"><strong><a href="/home/">Volver</a></strong></p>
            </div>
        {%endif%}
        
</body>


{%endblock contenido%}

{%block pie%}
{%endblock pie%}