{%extends 'home/home.html'%}
{%load staticfiles%}

{%block titulo%} Clase {%endblock titulo%}
{%block imagen_principal%}
{%endblock imagen_principal%}
<head>
        <link href=" {% static 'css/rangeslider.css' %}" rel="stylesheet">
</head>
{%block contenido%}
<style type="text/css">
    #ex1Slider .slider-selection {
        background: #BABABA;
    }
</style>
    <script src=" {% static 'js/rangeslider.min.js' %}"></script>
    <script src=" {% static 'js/rangeslider.js' %}"></script>

    <!-- Bootstrap core JavaScript -->
    <script src=" {% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src=" {% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src=" {% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/alertify.min.js' %}"></script>
    <script src="{% static 'js/alertify.js' %}"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>

  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
  <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="{% static 'js/jquery-3.4.1.js' %}"></script>
<script>
        
        function mensajeChange() {
          console.log("change");
          const mensaje = document.getElementById("mensaje");
          const boton = document.getElementById("enviar");
          console.log(boton)
          
          if (mensaje.value.trim() !== "") {
            console.log("Se muestra")
            boton.removeAttribute('disabled')
          } else {
            boton.setAttribute('disabled', "true");
          }
        }
        
      </script>

    <script>
        function comprobarRevision(id){
            $.ajax({
                data : {'id' : id},
                url : '/rutinas/comprobar_revision_ajax/', //El id que estoy guardando en data se va a enviar en esa url
                type : 'get',
                success : function(dic){
                    if (dic['estado']){

                        var html = '<h5>'+
                                        '<span class="badge badge-success">'+
                                            '<a href="#" data-toggle="modal" data-target=".bs-example-modal-lg22'+id+'1" style="color:rgb(255, 255, 255);">Revision</a>'+
                                        '</span>'+
                                    '</h5>'
                        var html2 = '<h5>'+
                            '<span class="badge badge-success">'+
                                '<a href="#" data-toggle="modal" data-target=".bs-example-modal-lg22'+id+'" style="color:rgb(255, 255, 255);">Revision</a>'+
                            '</span>'+
                        '</h5>'
                            
                    }
                    $('#revision').html(html);
                    $('#revision2').html(html2);
                }

            });              
        }
    </script>

    <script>
        function comprobarActualizacionFicha(id){
            console.log('me llaman');
            $.ajax({
                data : {'id' : id},
                url : '/rutinas/comprobar_actualizacion_ficha_ajax/', //El id que estoy guardando en data se va a enviar en esa url
                type : 'get',
                success : function(dic){   
                    if (dic['revision']){
                        console.log('entra en el primer if');
                        if (dic['datos'] && dic['horario']){
                            console.log('entra en el segundo if');
                            var html1 = "Recordatorio"
                            $('#titulo').html(html1);

                            var html2 = "Acordate que tenes una clase de revision con "+dic['profe']+" el <b>"+dic['dia']+ "</b> desde las <b>"+dic['inicio']+"</b> hasta las <b>"+dic['final']+"hs</b>"
                            $('#mensaje').html(html2);
                        }
                    }
                }

            });              
        }
    </script>

    <script>
        function cargarBadge(val2){
            var val = $('#formControlRange'+val2).val();
            $('#indicador'+val2).html(val);
        }
    </script>

    <script>
        var id = "{{user.id}}"
        comprobarActualizacionFicha(id);
    </script>
<body class="container mt-2">
    <!-- Si el usuario entrena con un profesor -->
    {%if not alumno.entrenamiento_sistema%}
        <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/home/">Home</a>
                </li>
                <li class="breadcrumb-item active">Clases</li>
            </ol>
        {%if user.id == alumno.user_id%}
        {%if mensaje != None%}
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">¡Te mereces un descanso!</h4>
            <p>{{mensaje}}</p>
            <hr>
            <p class="mb-0"><strong><a href="/home/">Volver</a></strong></p>
        </div>
        {%else%}
        <div class="card active">
            <div class="card-header alert alert-success"><a href="javascript:history.back()"><h6><img src="{% static 'img/back_negro.png'%}"></a><strong>Actividades del día</strong></h6>
            </div>
            <div class="card-body card-block">
                <div class="">
                    <div class="form-group">
                        <div class="row form-group">
                            <div class="col col-md-5"><h5>¡Hoy es dia de entrenamiento!</h5></div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-10">
                                <label style="color:rgb(130, 128, 128)">
                                    {{clase}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {%endif%}
        {%endif%}





        {%if alumnos != 'vacio'%}
        {%if user.id == profesor.user_id%}
        <!-- Listado de todas las clases -->
        <div id="accordion">
            <div class="card mt-2">
                <div class="card-header alert alert-primary" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <a href="javascript:history.back()"><img src="{% static 'img/back_azul.png'%}"></a>
                    <strong>Clases del dia</strong>
                    </button>
                </h5>
                </div>
              
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-3">
                                <b>Alumno</b>
                            </div>
                            <div class="col-4">
                                <b>Horario</b>
                            </div>
                            <div class="col-3">
                                <b>Rutina</b>
                            </div>
                        </div>
                    </div>   
                    {% for alumno in alumnos %}
                    <script>
                        var id = "{{alumno.alumno_id.id}}"
                        comprobarRevision(id);
                    </script>
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-3">
                                <a href="/rutinas/ver_perfil/{{alumno.alumno_id.user_id}}"><strong>{{alumno.alumno_id}}</strong></a>
                            </div>
                            <div class="col-4">
                                De <b>{{alumno.horario_inicio}}</b> a <b>{{alumno.horario_final}}</b>hs
                            </div>
                            <div class="col-3">
                                {{alumno.alumno_id.rutina_id}}
                            </div>
                            <div class="auto" id="revision">
                                
                            </div>
                        </div>
                    </div> 
                    <!-- Modal realizar revision -->
                <div class="modal fade bs-example-modal-lg22{{alumno.alumno_id.id}}1" id="myModal22{{alumno.alumno_id.id}}1" tabindex="-1" role="dialog" aria-hidden="true">
                        <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="alumno" value="{{alumno.alumno_id.id}}">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="myModalLabel2{{alumno.alumno_id.id}}1">Terminar revisión</h4>
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                                    </button>
                                    
                                </div>
                                <div class="modal-body">
                                    <div class="row form-group">
                                        <div class="col-sm-4 col-md-4">Selecciona el nivel de <strong>{{alumno.alumno_id.nombre}}</strong>
                                        <br>
    
                                            <label style="color:rgb(130, 128, 128)"></label>
                                            <select name="nivel" class="custom-select">
                                                {%for nivel in niveles%}
                                                    {%if nivel == alumno.alumno_id.nivel_id%}
                                                        <option value="{{nivel.id}}" selected>{{nivel}}</option>
                                                    {%else%}
                                                        <option value="{{nivel.id}}">{{nivel}}</option>
                                                    {%endif%}
                                                {%endfor%}
                                              </select>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col-sm-3 col-md-7">Agregá un comentario
                                        <br>
                                        <textarea name="comentario" id="comentario" cols="32" rows="5" class="form-control"></textarea>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="modal-footer">
                                    <a href="/rutinas/clases/{{user.id}}">
                                      <button type="submit" class="btn btn-outline-success" >Confirmar</button>
                                    </a>
                                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
                                  </div>
                
                            </div>
                        </div>
                        </form>
                    </div>
                    {%endfor%}
                </div>
            </div>
        </div>


        <br>
        
        <!-- Listado de clases pendientes -->
        <div class="card">
            <div class="card-header alert alert-primary" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <strong>Clases pendientes</strong>
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            {%if mensaje == None%}
                <div class="card-header">
                    <div class="row">
                        <div class="col-3">
                            <b>Alumno</b>
                        </div>
                        <div class="col-4">
                            <b>Horario</b>
                        </div>
                        <div class="col-3">
                            <b>Rutina</b>
                        </div>
                    </div>
                </div>   
                {% for alumno in alumnosPendientes %}
                <script>
                    var id = "{{alumno.alumno_id.id}}"
                    comprobarRevision(id);
                </script>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-3">
                            <a href="/rutinas/ver_perfil/{{alumno.alumno_id.user_id}}"><strong>{{alumno.alumno_id}}</strong></a>
                        </div>
                        <div class="col-4">
                            De <b>{{alumno.horario_inicio}}</b> a <b>{{alumno.horario_final}}</b>hs
                        </div>
                        <div class="col-3">
                            {{alumno.alumno_id.rutina_id}}
                        </div>
                        <div class="auto" id="revision2">
                            
                        </div>
                    </div>
                </div> 
                <!-- Modal realizar revision -->
                <div class="modal fade bs-example-modal-lg22{{alumno.alumno_id.id}}" id="myModal22{{alumno.alumno_id.id}}" tabindex="-1" role="dialog" aria-hidden="true">
                    <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="alumno" value="{{alumno.alumno_id.id}}">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel2{{alumno.alumno_id.id}}">Terminar revisión</h4>
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                                </button>
                                
                            </div>
                            <div class="modal-body">
                                <div class="row form-group">
                                    <div class="col-4 col-md-4">Selecciona el nivel de <strong>{{alumno.alumno_id.nombre}}</strong>
                                    <br>

                                        <label style="color:rgb(130, 128, 128)"></label>
                                        <select name="nivel" class="custom-select">
                                            {%for nivel in niveles%}
                                                {%if nivel == alumno.alumno_id.nivel_id%}
                                                    <option value="{{nivel.id}}" selected>{{nivel}}</option>
                                                {%else%}
                                                    <option value="{{nivel.id}}">{{nivel}}</option>
                                                {%endif%}
                                            {%endfor%}
                                          </select>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-4 col-md-4">Agregá un comentario
                                    <br>
                                    <textarea name="comentario" id="comentario" cols="35" rows="5" class="form-control"></textarea>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="modal-footer">
                                <a href="/rutinas/clases/{{user.id}}">
                                  <button type="submit" class="btn btn-outline-success" >Confirmar</button>
                                </a>
                                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
                              </div>
            
                        </div>
                    </div>
                    </form>
                </div>
                {%endfor%}
            </div>
        </div>
        {%else%}
            <label style="color:rgb(130, 128, 128)">
                <p>{{mensaje}}</p>
            </label>
        {%endif%}
        {%endif%}
        {%else%}
            <div class="alert alert-info" role="alert">
                <h4 class="alert-heading">No hay nadie a quien atender</h4>
                <p>En el dia de hoy no debes entrenar a nadie.</p>
                <hr>
                <p class="mb-0"><strong><a href="/home/">Volver</a></strong></p>
            </div>
        {%endif%}
    


    <!-- ################################################################################################################################## -->
    
    <!-- Si el usuario entrena con el sistema -->
    {%else%}
    {%if mensaje3 != None%}
        {{mensaje3}}
    {%else%}
    {%if mensaje == None%}
    <!-- Si es dia de entrenamiento -->
    <!-- Modal para terminar sesion -->
    <div class="modal fade bs-example-modal-lg2{{rutina.id}}" id="myModal2{{rutina.id}}" tabindex="-1" role="dialog" aria-hidden="true">
            <form method="POST">
            {% csrf_token %}
            <!-- <input type="hidden" value="{{repeticiones.id}}" name="repeticiones"> -->
            <select multiple name="repeticiones">
                {%for repeticion in repeticiones%}
                <option value="{{repeticion.id}}" selected></option>
                {%endfor%}
            </select>
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel{{rutina.id}}">Terminar la sesión</h4>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                    
                </div>
                <div class="modal-body">
                        {% if messages %}
          
                            {% for message in messages %}
                            {% if message.tags == 'success'%}
                            <ul class="alert alert-success alert-dismissible">
                              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                              <p {% if message.tags %} class="{{ message.tags }}"{% endif %}><strong>{{ message }}</strong></p>
                            </ul> 
                            {%endif%}
                            {% if message.tags == 'error'%}
                            <ul class="alert alert-danger alert-dismissible">
                              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                              <p {% if message.tags %} class="{{ message.tags }}"{% endif %}><strong>{{ message }}</strong></p>
                            </ul> 
                            {%endif%}
                            {% endfor %}
                        
                          {% endif %}
                        {%for repeticion in repeticiones%}
                        <div class="row form-group">
                            <div class="col-5 col-md-5">¿Cuánto te costó <strong>{{repeticion.actividad_id.nombre}}</strong>?</div>
                            <div class="col-6 col-md-6">
                                <label style="color:rgb(130, 128, 128)"></label>
                                <input name="esfuerzo" type="range" class="custom-range w-75" id="formControlRange{{repeticion.id}}" value="0"  min="1" max="10" step="1" onchange="cargarBadge('{{repeticion.id}}')">
                                <input type="hidden" name="actividad_id" value="{{repeticion.actividad_id.id}}">
                                <span class="badge badge-primary" id="indicador{{repeticion.id}}" style="vertical-align: super; margin-left: 1%;">1</span>
                            </div>
                        </div>
                        {%endfor%}
                        <br>
                        <div class="row form-group">
                            <div class="col-5 col-md-5">Cuéntanos como te ha ido</div>
                            <div class="col-6 col-md-6">
                                <textarea onkeyup="mensajeChange()" name="descripcion" id="mensaje" cols="35" rows="5" class="form-control" maxlength="128"></textarea>
                                <br>
                                <input class="form-check-input" type="checkbox" id="enviar" value="1" name="check" disabled>
                                <label class="form-check-label" for="disabledFieldsetCheck">
                                Solicitar revisión de ésta clase
                                </label>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <a href="/rutinas/clases/{{user.id}}">
                      <button type="submit" class="btn btn-outline-success" >Confirmar</button>
                    </a>
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
                  </div>

            </div>
        </div>
    </form>
    </div>
    <div class="card active">
            <div class="card-header alert alert-success"><a href="javascript:history.back()"><h6><img src="{% static 'img/back_negro.png'%}"></a><strong>Actividades del día</strong></h6>
            </div>
            <div class="card-body card-block">
                <div class="">
                    <div class="form-group">
                        <div class="row form-group">
                            <div class="col col-md-12">
                                <label style="color:rgb(130, 128, 128)">
                                    <h6><strong>¡{{alumno.nombre}}, es hora de entrenar!</strong></h6>
                                    <p>Estas son las actividades que debes realizar hoy</p>
                                </label>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-sm-12 col-md-12 col-lg-12">
                                    {%for acti in repeticiones%}
                                    <div id="accordion"> 
                                    <div class="card">
                                        <div class="card-header" id="">
                                          <h5 class="mb-0">
                                              
                                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#y{{acti.id}}y" aria-expanded="false" aria-controls="collapseTwo">
                                              <strong>{{acti.actividad_id.nombre}}</strong>
                                            </button>
                                          </h5>
                                        </div>
                                        <div id="y{{acti.id}}y" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                          <div class="row card-body">
                                                <div class="col col-sm-4 col-md-2 col-lg-2"><b>Descripción</b></div>  
                                            <div class="col col-sm-8 col-md-10 col-lg-10">{{acti.actividad_id.descripcion}}</div>
                                          </div>
                                          <div class="row card-body">
                                            <div class="col col-sm-4 col-md-2 col-lg-2"><b>Repeticiones</b></div>  
                                            <div class="col col-sm-8 col-md-10 col-lg-10">{{acti.repeticionesMinimas}}</div>
                                          </div>
                                          {%if acti.actividad_id.gif%}
                                          <div class="row card-body">
                                            <div class="col col-sm-4 col-md-2 col-lg-2"><b>Explicación</b></div>  
                                            <div class="col col-sm-8 col-md-10 col-lg-10"><img src="/media/{{acti.actividad_id.gif}}" alt="" width="auto" height="auto"></div>
                                        </div>
                                        {%endif%}
                                        </div>
                                      </div>
                                    </div>                                          
                                    {%endfor%}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="float-right">
                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-lg2{{disp.id}}" class="btn btn-primary">Terminar sesión</a>
                </div>
            </div>
        </div> 
    {%else%}
    <!-- Si no es dia de entrenamiento -->
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading" id="titulo">¡Te mereces un descanso!</h4>
        <p id="mensaje">{{mensaje}}</p>
        <hr>
        <p class="mb-0"><strong><a href="/home/">Volver</a></strong></p>
    </div>
    {%endif%}
    {%endif%}
    {%endif%}
    
</body>

<script src=" {% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src=" {% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


{%endblock contenido%}
{%block pie%}
{%endblock pie%}