{%extends 'home/home.html'%}
{%load staticfiles%}

{%block titulo%}Modificar {{object}}{%endblock titulo%}
{%block imagen_principal%}
{%endblock imagen_principal%}

{%block contenido%}
<body class="container mt-2">
        <div class="card">
            <div class="alert alert-danger"><strong>Confirmar modificacion de un detalle</strong></div>
                <div class="card-body card-block">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="">
                            <div class="form-group">
                                <div class="row form-group">
                                    <p>Usted esta queriendo modificar el estado del detalle <strong>{{object}}</strong>. Si cambia su estado, pasará a estar inactivo.</p>
                                    </p>
                                </div>
                                <div class="row form-group">
                                    <p>¿Seguro que desea modificar el estado de <strong>{{object}}</strong>?</p>
                                </div>
                                <button type="submit" class="btn btn-danger" display="block">Confirmar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--SCRIPTS-->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
{%endblock contenido%}
{%block pie%}
{%endblock pie%}