{%extends 'home/home.html' %}
{%load staticfiles%}

{%block titulo%}Inscripcion exitosa{%endblock titulo%}
{%block imagen_principal%}
{%endblock imagen_principal%}

{%block contenido%}
<body class="container mt-2">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">¡Felicidades {{alumno.nombre}}!</h4>
            <p>Tuviste una inscripción exitosa a <strong>{{rutina}},</strong> a partir de ahora puedes comenzar a entrenar.</p>
            <hr>
            <a href="/rutinas/ver_perfil/{{user.id}}" class="btn btn-primary">Comenzar</a>
        </div>
        <!--SCRIPTS-->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
{%endblock contenido%}
{%block pie%}
{%endblock pie%}