{%extends 'home/home.html'%}
{%load staticfiles%}
<head>
{%block titulo%}Inscribirse a una rutina{%endblock titulo%}
</head>
{%block javascript%}
<script type="text/javascript">
    
    function ocultar_mostrar(num){
        //alert(document.getElementById("elGranMenu").style.display )
        if(num == 1){
            document.getElementById("formSistema").style.display='block';
            document.getElementById("formProfesor").style.display='none';
        }
        if(num == 0){
            document.getElementById("formProfesor").style.display='block';
            document.getElementById("formSistema").style.display='none';
        }
        /*if(document.getElementById("elGranMenu").style.display == "none" || document.getElementById("elGranMenu").style.display == "" ){
            document.getElementById("elGranMenu").style.display='block';
        }
        else{
                document.getElementById("elGranMenu").style.display='none';
            }*/
    
    }
    
</script>
{%endblock javascript%}
{%block contenido%}
<div class="container mt-2">
    
    <div class="card">
            <div class="card-header alert-primary"><strong>Inscribirse a una rutina</strong></div>
        <div class="alert alert-light">
            <p>Por favor selecciona la forma en la que quieres realizar la rutina</p>
            
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                  <div class="card h-80">
                    <div class="card-body">
                      <p class="card-text">Tendrás clases virtuales a través del sistema.</p>
                    </div>
                  </div>
                  <div class="card card-footer" align="leftz2">
                        <button type="button" onclick="ocultar_mostrar(1)" class="btn btn-primary">Con el sistema</button>
                  </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                    <div class="card h-80">
                      <div class="card-body">
                        <p class="card-text">Tendrás clases reales con un profesor a cargo.</p>
                      </div>
                    </div>
                    <div class="card card-footer" align="center">
                            <button type="button" onclick="ocultar_mostrar(0)" class="btn btn-primary">Con un profesor</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="card" id="formSistema" style="display:none;">
        <form method="POST">
            {% csrf_token %}
            <div class="card-header alert-primary"><strong>Ficha de inscripción</strong></div>
                <div class="card-body card-block">
                    <div class="alert alert-light"> 
                        <p>Antes de inscribirse a una rutina, primero debes completar algunos de tus datos personales</p>
                    </div>
                        <div class="">

                            <div class="form-group">
                                <div class="row form-group">
                                    <div class="col col-md-3">{{ficha.sexo.label}}</div>
                                    <div class="col-12 col-md-9">
                                        <select class="browser-default custom-select" name="sexo">
                                            <option value="F">Femenino</option>
                                            <option value="M">Masculino</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row form-group">
                                    <div class="col col-md-3">{{ficha.peso.label}}</div>
                                    <div class="col-12 col-md-9">{{ficha.peso}}</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row form-group">
                                    <div class="col col-md-3">{{ficha.altura.label}}</div>
                                    <div class="col-12 col-md-9">{{ficha.altura}}</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row form-group">
                                    <div class="col col-md-3">Realiza actividad física</div>
                                    <div class="col-12 col-md-9">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="actividad" id="exampleRadios1" value="mucho" checked>
                                            <label class="form-check-label" for="exampleRadios1">Mucho <label style="color:rgb(130, 128, 128)">(Realiza actividad física más de 3 veces por semana)</label></label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="actividad" id="exampleRadios2" value="poco">
                                            <label class="form-check-label" for="exampleRadios2">Poco <label style="color:rgb(130, 128, 128)">(Realiza actividad física 2 veces o menos por semana)</label></label></label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="actividad" id="exampleRadios3" value="nada">
                                            <label class="form-check-label" for="exampleRadios2">Nada <label style="color:rgb(130, 128, 128)">(No realiza actividad física)</label></label></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row form-group">
                                    <div class="col col-md-3">{{alumno.nombre.label}}</div>
                                    <div class="col-12 col-md-9">{{alumno.nombre}}</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row form-group">
                                    <div class="col col-md-3">{{alumno.apellido.label}}</div>
                                    <div class="col-12 col-md-9">{{alumno.apellido}}</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row form-group">
                                    <div class="col col-md-3">{{alumno.fecha_nac.label}}</div>
                                    <div class="col-12 col-md-9">{{alumno.fecha_nac}}</div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <div class="row form-group">
                                    <div class="col col-md-3">{{alumno.email.label}}</div>
                                        <div class="col-12 col-md-9">{{alumno.email}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row form-group">
                                    <div class="col col-md-3">{{ficha.grupo_sanguineo.label}}</div>
                                        <div class="col-12 col-md-9">
                                            <select class="browser-default custom-select" name="grupo_sanguineo">
                                                <option value="A">A</option>
                                                <option value="B">B</option>
                                                <option value="AB">AB</option>
                                                <option value="O">O</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row form-group">
                                    <div class="col col-md-3">{{ficha.enfermedades.label}}</div>
                                        <div class="col-12 col-md-9">{{ficha.enfermedades}}
                                        </div>
                                </div>
                            </div>
                            <div class="row">
                            <div class="col col-1"><a href="/rutinas"><button type="button" class="btn btn-outline-danger">Cancelar</button></a></div>
                            <div class="col col-0"><button type="submit" class="btn btn-primary">Inscribirse</button></div>
                            </div>
                        </div>
                </div>
                <input type="hidden" id="entrenamiento" name="entrenamiento" value="sistema">
            </form>
        </div>

        <div class="card" id="formProfesor" style="display:none;">
            <form method="POST">
                {% csrf_token %}
                <div class="card-header">Datos personales p</div>
                    <div class="card-body card-block">
                        
                            <div class="">
                                <div class="form-group">
                                    <div class="row form-group">
                                        <div class="col col-md-3">{{alumno.nombre.label}}</div>
                                        <div class="col-12 col-md-9">{{alumno.nombre}}</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row form-group">
                                        <div class="col col-md-3">{{alumno.apellido.label}}</div>
                                        <div class="col-12 col-md-9">{{alumno.apellido}}</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row form-group">
                                        <div class="col col-md-3">{{alumno.fecha_nac.label}}</div>
                                        <div class="col-12 col-md-9">{{alumno.fecha_nac}}</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row form-group">
                                        <div class="col col-md-3">{{alumno.sexo.label}}</div>
                                            <div class="col-12 col-md-9">{{alumno.sexo}}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row form-group">
                                        <div class="col col-md-3">{{alumno.email.label}}</div>
                                            <div class="col-12 col-md-9">{{alumno.email}}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row form-group">
                                        <div class="col col-md-3">{{ficha.peso.label}}</div>
                                            <div class="col-12 col-md-9">{{ficha.peso}}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row form-group">
                                        <div class="col col-md-3">{{ficha.grupo_sanguineo.label}}</div>
                                            <div class="col-12 col-md-9">{{ficha.grupo_sanguineo}}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row form-group">
                                        <div class="col col-md-3">{{ficha.enfermedades.label}}</div>
                                            <div class="col-12 col-md-9">{{ficha.enfermedades}}
                                            </div>
                                    </div>
                                </div>
                                <div class="row">
                                <div class="col col-1"><a href="/rutinas"><button type="button" class="btn btn-outline-danger">Cancelar</button></a></div>
                                <div class="col col-0"><button type="submit" class="btn btn-primary">Inscribirse</button></div>
                                </div>
                            </div>
                    </div>
                    <input type="hidden" id="entrenamiento2" name="entrenamiento" value="profesor">
                </form>
            </div>

</div>



{%endblock contenido%}
{%block pie%}{%endblock pie%}