{%extends 'home/home.html'%}
{%load staticfiles%}

{%block titulo%}{{actividad.nombre}}{%endblock titulo%}

{%block imagen_principal%}{%endblock imagen_principal%}
{%block contenido%}
<body class="container mt-2">
    <div class="card active">
        <div class="card-header alert-primary"><a href="/rutinas/actividades/"><h6><img src="{% static 'img/back_azul.png'%}"></a><strong>{{actividad.nombre}}</strong></h6></div>
            <div class="card-body card-block">
                    {% csrf_token %}
                    <div class="">
                        <div class="form-group">
                            <div class="row form-group">
                                <div class="col col-md-19">{{actividad.descripcion}}</div>
                                {%if actividad.gif%}
                                <div class=" card col col-md-3">
                                    Gif explicativo<img src="/media/{{actividad.gif}}" alt="" width="auto" height="auto">
                                </div>
                                {%endif%}
                            </div>
                            
                        </div>
                    </div>
            </div>
        </div>
            <div class="card-header alert-primary"><strong>Lista de detalles de {{actividad.nombre}}</strong></div>
            <div class="list-group-item ">
                <div class="row alert-heading">
                    <div class="col col-sm-4 col-md-4 lg-4">
                        <b>Categoria</b>
                    </div>
                    <div class="col col-sm-6 col-md-6 lg-6">
                        <b>Músculo</b>
                    </div>
                </div>
            </div>
            {%for det in detalles%}
            <div class="list-group-item ">
                    <div class="row">
                        <div class="col col-sm-4 col-md-4 lg-4">
                            {{det.categoria}}
                        </div>
                        <div class="col col-sm-6 col-md-6 lg-6">
                            {{det.musculo}}
                        </div>
                    </div>
            </div>
            {%endfor%}

            <div class="card-header alert-primary"><strong>Repeticiones por niveles de {{actividad.nombre}}</strong></div>
            <div class="list-group-item ">
                <div class="row alert-heading">
                    <div class="col col-sm-4 col-md-4 lg-4">
                        <b>Nivel</b>
                    </div>
                    <div class="col col-sm-6 col-md-6 lg-6">
                        <b>Repeticiones</b>
                    </div>
                </div>
            </div>
            {% for key, value in repeticiones.items %}
            <div class="list-group-item ">
                    <div class="row">
                        <div class="col col-sm-4 col-md-4 lg-4">
                            {{key}}
                        </div>
                        <div class="col col-sm-6 col-md-6 lg-6 text-align: right">
                            {{value}}
                        </div>
                    </div>
            </div>
            {%endfor%}
    </div>
    <!--SCRIPTS-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!--SCRIPTS-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
{%endblock contenido%}
{%block pie%}
{%endblock pie%}